# Ignore Python cache directories
__pycache__/
*.pyc

# Ignore virtual environment folder
venv/

# Ignore IDE config folders
.idea/
.vscode/

# Ignore dynamically generated JSON file
Homework4/filter_service/last_dates.json

# Ignore database files
*.db

# Ignore Node projects
node_modules/
